@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using System.Collections.Generic
@using System.Net;
@model Tuple<string, int>

@{
	ViewData["Title"] = $"Node {Model.Item1}:{Model.Item2}";

	var dnsHostEntry = Dns.GetHostEntry(Model.Item1);
	var hostname = Model.Item1;
	if (dnsHostEntry != null)
	{ hostname = dnsHostEntry.HostName; }

	IEnumerable<Tuple<string, int>> nodeConnections = ViewBag.NodeConnections ?? Enumerable.Empty<Tuple<string, int>>();
}

<h2>
	Details for node @Model.Item1 <small>on port @Model.Item2</small>
</h2>

@if (ViewData.ContainsKey("NodeConnectionError"))
{
	<div class="alert alert-danger" role="alert">
		<strong>Node Connection Error!</strong>
		@ViewData["NodeConnectionError"]
	</div> 
}

<div class="btn-group">
	<a href="#" class="btn btn-danger">Terminate</a>
</div>

<hr />

<dl class="dl-horizontal">
	@if (string.Equals(hostname, Model.Item1, StringComparison.OrdinalIgnoreCase))
	{
		<dt>Hostname</dt>
		<dd>@hostname</dd>

	}
	else
	{
		<dt>Hostname (DNS)</dt>
		<dd>@hostname</dd>
		<dt>Hostname (Raw)</dt>
		<dd>@Model.Item1</dd>
	}
	<dt>Port</dt>
	<dd>@Model.Item2</dd>
</dl>

@if (nodeConnections.Any())
{
	<div class="list-group">
		@foreach (var nodeTuple in nodeConnections)
		{
			
			var cdnsHostEntry = Dns.GetHostEntry(nodeTuple.Item1);
			var chostname = cdnsHostEntry != null ? cdnsHostEntry.HostName : nodeTuple.Item1;

			<a class="list-group-item" asp-controller="Nodes" asp-action="Details" asp-route-hostname="@nodeTuple.Item1" asp-route-port="@nodeTuple.Item2">
				@chostname
				<small>on port @nodeTuple.Item2</small>
			</a>
		}
	</div>
}
else
{
	<p>This node is not connected to any nodes.</p>
}