@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using System.Collections.Generic
@using System.Net;

@model IReadOnlyList<NodeModel>

@{
	ViewData["Title"] = "Available Nodes";
}

<h2>@ViewData["Title"]</h2>

<hr />

@if (Model.Any())
{
	<h3>There are @Model.Count available nodes in the network.</h3>
	<div class="list-group">
		@foreach (var node in Model)
		{
			NodeModel[] connectedNodes;
			try { connectedNodes = node.GetConnectedNodes(); }
			catch (WebException) { connectedNodes = new NodeModel[0]; }

			<a class="list-group-item" asp-controller="Nodes" asp-action="Details" asp-route-guid="@node.Guid">
				<span class="badge">@node.Guid</span>
				<h4 class="list-group-item-heading">
					@node.DnsHostname <small>on port @node.Port</small>
				</h4>
				<p class="list-group-item-text">
					@connectedNodes.Length direct connections.<br />
					@string.Join(", ", connectedNodes.Select(n => $"{n.DnsHostname}:{n.Port}"))
				</p>
			</a>
		}
	</div>
}
else
{
	<p>There are currently no nodes in the network.</p>
}